/* Run to edit wd_composed_style.css
 npx tailwindcss build public/css/wd_style.css -o public/css/wd_composed_style.css --watch 
 npx tailwindcss build public/css/wd_style.css -o public/css/wd_composed_style.css --jit */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


header {
  letter-spacing: -0.025rem;
  font-weight: 800;
  font-size: 45px;
  margin: 0 auto;
  padding-left: 20px;
  height:4rem; 

}


#customers, #history, #config {
  box-sizing: border-box;  /* Assurez-vous que le padding et la bordure sont inclus dans la hauteur */
  width: 100%;
  margin: 0 auto;
  z-index: 0;
}
#calendar {
  box-sizing: border-box;  /* Assurez-vous que le padding et la bordure sont inclus dans la hauteur */
  width: 100%;
  max-width: 750px;
  height: calc(100vh - 10rem);
  margin: 0 auto;
  z-index: 0;
}


#footer {
  height: 6rem;
  max-height: 6rem;
  bottom: 0;
}



#closeModal {
    position: absolute;
    top: 5px;
    right: 10px;
}

  
#ListEventModal, #DetailsEventModal, #addEventModal, #SearchListEventModal, #CustomerInfoModal {
  z-index: 50;
  position: absolute;
  width: 100%;
  height: auto;
  max-height: 100%;
  overflow-y: auto; /* Pour activer le défilement vertical */
}


/* MODAL DETAILS */


.modal-title-details::first-letter{
  text-transform: uppercase;
}


/* Classe pour l'animation */
.animate {
  top:0;
  animation: slideUp 0.5s forwards; /* Applique l'animation slideUp */
  opacity: 1;
}
.close-animate {
  top:0;
  animation: slideDown 0.5s forwards; /* Applique l'animation slideDown */
}
/* Classe pour l'animation */
.animate_shadow_modal {
  animation: slideUpShadow 0.5s forwards; /* Applique l'animation slideUp */
  opacity: 0.5;
}
.close-animate_shadow_modal {
  animation: slideDownShadow 0.5s forwards; /* Applique l'animation slideDown */
}


.svg-delete{
  color:red;
  cursor:pointer;
}
.svg-delete:hover{
  color:rgb(181, 66, 66);
}
.custom-event{
  position: relative;
  bottom:0;
}
.event-dot {
  left: 50%;
  /* Ratio et taille minimale */

  min-width: 10px;   /* taille minimale */
  min-height: 10px;  /* taille minimale */
  max-width: 15px;   /* taille max */
  max-height: 15px;  /* taille max */
  
  /* Apparence */
  border-radius: 50%;
}
.event-dot.paid{
  left: 50%;
  /* Ratio et taille minimale */

  min-width: 15px;   /* taille minimale */
  min-height: 15px;  /* taille minimale */

  
  /* Apparence */
  border-radius: 50%;
}
.event-dot.unpaid{
  max-width: 10px;   /* taille max */
  max-height: 10px;  /* taille max */
  box-shadow: -1px 1px 0px 0 rgba(0, 0, 0, 0.2),inset 1px -1px 3px 0 rgba(0, 0, 0, 0.4),inset -1px 1px 2px -1px rgba(255, 255, 255, 0.8);
}

.has-shadow {
    box-shadow: 0px 0px 5px #252525;
}

.shadow-footer {
  box-shadow: 0px -2px 10px rgb(192, 192, 192);
}

  /** SURCHARGER FullCalendar -  START   ***/

  .fc-event {
    background: none;
    border: none;
}
.fc-theme-standard td, .fc-theme-standard th{
  border: 0;
  border-bottom: 1px solid #DBDBDB;
}
.fc-event-title {
    display: none;
}
.fc-daygrid-day {
    position: relative;
    margin: 0;
    padding: 0;
}

.fc-daygrid-day-top .fc-daygrid-day-number {
    font-size: 3vh; /* Augmentez la taille des chiffres du jour si nécessaire */
}

.fc-daygrid-day-top .fc-daygrid-day-top-month {
    display: none; /* Cachez le nom du mois */
}
.fc-button-group {
  padding: 0 10px;
}

/* Permettre à l'event d'occuper tout l'espace de la cell dans le calendrier */
.fc .fc-daygrid-body-balanced .fc-daygrid-day-events{
  bottom: 0px;
  top: 0px;
  left: 0px;
  right: 0px;
  position: absolute;
}
.fc .fc-daygrid-event-harness, .fc-direction-ltr .fc-daygrid-event.fc-event-end, .fc-direction-rtl .fc-daygrid-event.fc-event-start, .fc-event .fc-event-main {
  height: 100%;
}

/*** DARK MODE ***/
.dark .fc-multimonth-title, .dark .fc-multimonth-header, .dark div.fc-view-harness.fc-view-harness-active div.fc-multiMonthYear-view.fc-view.fc-multimonth.fc-multimonth-singlecol div.fc-multimonth-month div.fc-multimonth-header table.fc-multimonth-header-table thead{
  background-color: #1e293b;
  border-color: #1e293b;
}
.dark .fc-multimonth-daygrid-table, .dark .fc-multimonth-header-table {
  background-color: #1e293b;
}

.dark .fc-day-future{
  background-color: #2a3e60;
}
.dark .fc-daygrid-day.fc-day-today {
  background-color:#6e7e98;
  color: black;
}
.dark .fc-theme-standard td .fc-daygrid-day {
  border-bottom: 2px;
  border-color:#101825;
}


.dark .fc-daygrid-day:hover {
  background-color: rgb(49, 85, 148);
  cursor:pointer;
}

.dark .fc-day-disabled{
  background-color: #263755;
}
.dark .fc-day-disabled:hover{
  cursor:default;
  background-color: #263755;
}
.dark .fc .fc-view-harness-active > .fc-view{
  border-color:#22324d;
}
.dark .fc-theme-standard td, .dark .fc-theme-standard th {
  border-color:#22324d;
}
.dark .fc-multimonth-title, .dark .fc-multimonth-header, .dark div.fc-view-harness.fc-view-harness-active div.fc-multiMonthYear-view.fc-view.fc-multimonth.fc-multimonth-singlecol div.fc-multimonth-month div.fc-multimonth-header table.fc-multimonth-header-table thead {
  background-color: #22324d;
}

  /** SURCHARGER FullCalendar -  END   ***/



/* ANNIMATION */
@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0.5; }
  100% { opacity: 1; }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fadeOut {
  from {
      opacity: 1;
  }
  to {
      opacity: 0;
  }
}
@keyframes slideUp {
    from {
      top: -1000px; /* Part du bas, hors de l'écran */
      opacity: 0;
    }
    to {
      top: 0px; /* Arrive à la position finale */
      opacity: 1;
    }
  }
  @keyframes slideDown {
    from {
      top: 0; /* Départ de la position actuelle */
      opacity: 1;
    }
    to {
      top: -1000px; /* Descend en dehors de l'écran */
      opacity: 0;
    }
  }
@keyframes slideUpShadow {
    from {
      opacity: 0;
    }
    to {
      opacity: 0.5;
    }
  }
  @keyframes slideDownShadow {
    from {
      opacity: 0.5;
    }
    to {
      opacity: 0;
    }
  }
  @keyframes bannerslideup {
    from {
      top: 4vh;
      opacity: 1;
    }
    to {
      top: -100%;
      opacity: 0.5;
    }
  }
  @keyframes bannerslidedown {
    from {
      top: -10%;
      opacity: 0.5;
    }
    to {
      top: 4vh; 
      opacity: 1;
    }
  }
  
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

  .loader {
    /* Centrage */
    position: fixed; /* Utilisez fixed ou absolute selon le besoin */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
}

.transition-margin{
  transition: margin 0.3s ease-in-out;
}
  .fade_out {
    opacity: 0;
    transition: opacity 1s ease-out;
}
  .blinking {
    animation: blink 0.5s linear 6;
  }

  .notification-hidden {
    display: none;
  }
  
  .notification-visible {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    color: white;
    padding: 20px;
    z-index: 999;  
  }

.banner_update-exit {
    animation: bannerslideup 0.5s ease-in-out forwards;
  }
  
  .banner_update-visible {
    display: flex;
    width: 90%;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 5%;
    color: white;
    z-index: 999;
    opacity: 1;  /* Valeur finale de l'animation */
    animation: bannerslidedown 0.5s ease-in-out forwards;  /* Ajout de "forwards" */
  }

  

  /* TOUCH MENU */

  .delete-event {
    transition: all 0.3s ease-in-out;
    width: 0;
    overflow: hidden;
  }
  
  .delete-event.open {
    width: 200px;
  }
  
  .delete-event-content {
    transition: all 0.3s ease-in-out;
  }
  
  .delete-event-content.shift {
    margin-left: 200px;
  }

  .customer_comment {
    max-width: 150px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    opacity: 0.5;
    transition: max-width 0.4s ease-in-out, opacity 0.6s ease-in-out, overflow 0.4s ease-in-out, white-space 0.4s ease-in-out;
}





.fullblocked-border {
  border: 2px solid red; /* Exemple de bordure personnalisée */
}

/* Tooltip pour la case privatisation */
#container_eventfullblocked:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
/* DARK MODE MODULE SWITCHER */
.container-darkmode {
  position: fixed;
  top: 15px;
  right: -50px;
  width: 100px;
  height: 36px;
  opacity: 0.75;
  border-radius: 20px 0 0 20px;
  overflow: hidden;
  z-index: 49;
  transition: right 0.6s ease-in-out, opacity 0.6s ease-in-out;

  display: flex;
  align-items: center; /* Centré verticalement */
  justify-content: flex-start; /* Aligné à gauche */
  padding-left: 5px; 
  padding-top: 18px; 
}
.container-darkmode:hover {
  opacity: 1;
  right: 0px;
}

.Add_Event_blinking:hover{
  animation: blink 1.5s forwards; /* Applique l'animation slideUp */
}